/* ------ MOBILE ------ */
@media only screen and (max-width: 400px){
    body{
        height: fit-content;
    }
    #tab>div{
        height: 68vh;
    }
    #rha p{
        font-size: 0.45em;
    }
    #rha-about{
        padding-right: 5.5em;
    }
    #ribbon p{
        font-size: 0.5em;
    }
    #ribbon h2, #ribbon h3{
        font-size: 0.7em;
    }
    #hyejin h3{
        font-variant: small-caps;
    }

}

/* ------ TABLET ------ */
@media only screen and (max-width: 825px){
    span.down{
        font-size: 1.7em;
    }
    .dropdown{
        width: 100%;
        height: min-content;
        display: inline-block;
        z-index: 5;
    }
    #dropbtn{
        font-size: 1em;
        width: 100%;
    }
    #dropdown-content {
        background: #fff4f6;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        font-size: 0.8em;
        width: fit-content;
        padding: 1em;
        transform: translateY(-4vh);
    }
    #tab>div{
        margin-top: 2%;
    }
    button{
        font-size: 1.2em;
        margin-left: 10%;
    }

    /* SELECT */
    #buffer{
        width: 5%;
    }
    .select .content{
        gap: 0.5em;
    }
    .select .content div{
        width: 85vw;
    }
    /*rha*/
    #rha-start a{
        margin-top: 12vh;
        margin-bottom: 3em;
    }
    /*ribbon*/
    img#ribbon-logo{
        width: 125px;
        transform:translate(-0.5em, -1em);
        z-index: -5;
    }
    #ribbon-title img{
        width: 101%;
    }
    #ribbon-start p{
        margin-top: 4em;
    }
    #ribbon-start a{
        margin-bottom: 1em;
    }
    /*hyejin*/
    #hyejin h2{
        font-size: 1.3em;
    }
    #hyejin p{
        font-size: 0.5em;
        padding-left: 1em;
    }
    #hyejin-start a{
        margin-top: 7vh;
        margin-bottom: 1em;
    }
    #hyejin table img{
        margin: 0;
    }
    #hyejin .stickers img{
        height: 45vw;
    }
    #hyejin .hoodie img{
        height: 50vw;
    }
    #hyejin #hoodie-pic img, #hyejin .keychain img{
        height: 35vw;
    }
    /*pom pom*/
    #pom-start a{
        margin-top: 5vh;
        margin-bottom: 2em;
        height: 30vh;
    }
    #pom-start p{
        margin-top: 30vh;
    }
    #pompom h3{
        font-size: 1em;
    }
    #pompom .img-1{
        display: block;
    }
    /*map*/
    #map-start img#map-logo{
        margin-top: 25vh;
        margin-bottom: 20vh;
    }
    #map h2{
        font-size: 1em;
    }
    #map h3{
        font-size: 0.7em;
    }
    #map p, #map li{
        font-size: 0.5em;
    }
    #map span.down{
        transform: translateY(0em);
    }

    /*  ARCHIVE */
    .archive .content div, .archive .tag{
        width: 80vw;
    }
    .archive section{
        display: block;
        margin-bottom: 4px;
    }
    .archive p{
        margin-top: 0.5em;
    } 
}


/* ----- WIDESCREEN ----- */
@media only screen and (min-height: 1000px){
    /* HEADER */
    #dropbtn{
        font-size: 1.5em;
        left: 0;
    }
    #dropdown-content{
        font-size: 1.2em;
    }
    button{
        font-size: 1em;
    }

    /*  SELECT */
    .tag{
        font-size: 0.75em;
    }
    /*rha*/
    #rha p{
        font-size: 0.75em;
    }
    #rha a{
        margin-top: 16vh;
        margin-bottom: 16vh;
    }
    /*ribbon*/
    img#ribbon-logo{
        transform:translate(-1em, 0em);
        z-index: -5;
    }
    #ribbon-title img{
        margin-top: 6vh;
    }
    #ribbon p{

        font-size: 0.75em;
    }
    #ribbon-start p{
        margin-top: 4vh;
    }
    #ribbon-start a{
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 9vh;
    }
    /*hyejin*/
    #hyejin-start img{
        margin-top: 9vh;
    }
    #hyejin-start a{
        font-size: 1.5em;
        margin-bottom: 12vh;
    }
    #hyejin p{
        font-size: 0.75em;
    }
    /*pom pom*/
    #pom-start a{
        margin-top: 5vh;
        margin-bottom: 20vh;
    }
    #pompom p, #pompom ul{
        font-size: 0.75em;
    }
    /*map*/
    #map-start img#map-logo{
        margin-top: 26vh;
        margin-bottom: 26vh;
    }
    #map p, #map li{
        margin: 1em;
        font-size: 0.75em;
    }
    #map span.down{
        transform: translateY(0em);
    }
    
    

    /* ARCHIVE */
    .archive p{
        font-size: 0.6em;
    }
    .archive .content{
        gap: 3%;
    }
    .archive #buffer{
        width: 5%;
    }

}