@media only screen and (max-width: 400px){
    body{
        height: fit-content;
    }
    #tab>div{
        height: 68vh;
    }
    #ribbon p{
        font-size: 0.5em;
    }
    #ribbon h2, #ribbon h3{
        font-size: 0.7em;
    }
    #hyejin h3{
        font-variant: small-caps;
    }

}
/* TABLET */
@media only screen and (max-width: 600px){
    .dropdown{
        width: 100%;
        height: min-content;
        display: inline-block;
        z-index: 5;
    }
    #dropbtn{
        font-size: 1em;
        width: 100%;
    }
    #dropdown-content {
        background: #fff4f6;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        font-size: 0.8em;
        width: fit-content;
        padding: 1em;
        transform: translateY(-4vh);
    }
    #tab>div{
        margin-top: 2%;
    }
    button{
        font-size: 1.2em;
        margin-left: 10%;
    }

    /* ---  SELECT --- */
    #buffer{
        width: 5%;
    }
    .select .content{
        gap: 0.5em;
    }
    .select .content div{
        width: 85vw;
    }
    /*rha*/
    #rha a{
        margin-top: 20vh;
        margin-bottom: 20vh;
        height: 9vh;
    }
    /*ribbon*/
    img#ribbon-logo{
        width: 125px;
        transform:translate(-0.5em, -1em);
        z-index: -5;
    }
    #ribbon-title img{
        transform:translateY(-15vw);
        margin: 0;
    }
    #ribbon-start p, #ribbon-start a{
        transform:translateY(-8vw);
    }
    /*hyejin*/
    #hyejin h2{
        font-size: 1.3em;
    }
    #hyejin p{
        font-size: 0.5em;
        padding-left: 1em;
    }
    #hyejin table img{
        margin: 0;
    }
    #hyejin .stickers img{
        height: 45vw;
    }
    #hyejin .hoodie img{
        height: 50vw;
    }
    #hyejin #hoodie-pic img, #hyejin .keychain img{
        height: 35vw;
    }
    /*pom pom*/
    #pompom h3{
        font-size: 1em;
    }
    #pompom .img-1{
        display: block;
    }
    /*map*/
    #map-start img#map-logo{
        margin-top: 30vh;
        margin-bottom: 15vh;
    }
    #map h2{
        font-size: 1em;
    }
    #map h3{
        font-size: 0.7em;
    }
    #map p, #map li{
        font-size: 0.5em;
    }

    /* ---  ARCHIVE --- */
    .archive .content div, .archive .tag{
        width: 80vw;
    }
    .archive section{
        display: block;
        margin-bottom: 4px;
    }
    .archive p{
        margin-top: 0.5em;
    } 
}