/* ------------------- RHA ------------------- */
#rha{
    background-color: #dfdd9f;
    font-family: Helvetica, Arial, sans-serif;
}
#rha-more{
    background-color: blue;
    color: white;
    transform: translateY(-2em);
}
/* text */
#rha h2{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 0.6em;
    text-align: center;
    padding: 0.3em;
}
#rha h3{
    background-color: white;
    width: fit-content;
    font-size: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.3em;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#rha p{
    font-size: 0.5em;
    font-style: italic;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    text-align: center;
    height: fit-content;
}
#rha .tag{
    color: #ffc600;
    height: fit-content;
    width: fit-content;
}

/* start */
#rha-start{
    background: linear-gradient(#ffc600 75%, #0000 100%);
}
#rha a{
    height: 12vh;
    display: flex;
    justify-self: center;
    margin-top: 2em;
    margin-bottom: 3em;
    background-image: url("./select/rush hour/start_btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#rha a:hover{
    background-image: url("./select/rush hour/start_hover.png");
}
/* menu items */
#creds, #tutorial{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 0em;

    grid-template-areas:
        "hero hero"
        "img-1 img-2";
}
.img-1 {grid-area: img-1;}
.img-2 {grid-area: img-2;}
.hero {grid-area: hero;}
#creds img, #tutorial img, #poster img{
    display: block;
    margin: auto;
}
/* on-screen */
#direction .hero, #combat .hero{
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
}
#direction .hero>img, #combat .hero>img{
    display: inline-block;
    width: 20%;
}
#direction p, #combat p{
    text-align: left;
    width: 70%;
    font-style: normal;
    padding-left: 7em;
    text-indent: -6.5em;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}
#direction strong, #combat strong{
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-weight: 500;
    border-radius: 1em;
    padding: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 0.5em;
}
/* scroll */
#rha::-webkit-scrollbar-thumb{
    background: #d62d1a;
}


/* ------------------- RIBBON ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#ribbon{
    background-color: #57DB85;
    font-family: "Montserrat", sans-serif;
}
#ribbon h2{
    background-color: #15843C;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    width: 70%;
}
#ribbon h3{
    background: linear-gradient(to right, #f397a8 50%, #57DB85 100%);
    color: #c5ffb5;
    font-size: 1em;
    text-align: right;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    
    margin-left: 7em;
    margin-bottom: 0.5em;
    padding-right: 4em;
    padding-left: 1em;
}
#ribbon p{
    font-size: 0.7em;
    margin-top: 0;
    margin-left: 1em;
}
#ribbon .tag{
    color: #15843C;
    height: fit-content;
    width: fit-content;
    float: left;
}

/* sections */
#ribbon-start{
    background: linear-gradient(#15843C 75%, #0000 100%);
}
#ribbon-start img{
    height: fit-content;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0;
}
#ribbon-start p{
    font-size: 0.5em;
    font-style: italic;
    color: #57DB85;
    text-align: center;
    margin-top: 1em;
}
#ribbon-start a{
    background-color: white;
    color: #15843C;
    font-size: 0.8em;
    font-weight: 500;
    border: none;
    border-radius: 3em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    
    display: block;
    margin: auto;
    margin-top: 0em;
    margin-bottom: 3em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    transition-property: padding;
    transition-duration: 0.2s;
}
#ribbon-start a:hover{
    background-color: #FFB5C2;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
#api img{
    width: 100%;
}
#api p, #design p{
    font-size: 0.6em;
    margin-right: 1em;
    text-align: center;
    color: #11632e;
}
#design img{
    width: 80%;
    display:block;
    margin: auto;
}
#design{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 0.5em;

    grid-template-areas:
        "p p"
        "img-1 img-2"
        "img-3-p img-3 ";
}
#design .img-1 {grid-area: img-1;}
#design .img-2 {grid-area: img-2;}
#design p {grid-area: p;}
#design .img-3 {grid-area: img-3;}
#design p.img-3 {
    grid-area: img-3-p; 
    align-content: center; 
}

/* scroll */
#ribbon::-webkit-scrollbar-thumb{
    background: #ffffb5;
}



/* ------------------- HYEJIN ------------------- */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');
@font-face {
    font-family: ALS Script;
    src: url(./select/hyejin/alsscrp.ttf);
  }

#hyejin{
    background-color: #698fd2;
    font-family: "IM Fell French Canon", Georgia, 'Times New Roman', Times, serif;
}
#hyejin .tag{
    color: #2b60b6;
    width: fit-content;
}
#hyejin img{
    margin-top: 0;
    display: block;
    margin: auto;
}
#hyejin h2{
    font-family: ALS Script, cursive;
    background-color: #5a4fac;
    color: #a5c6ff;
    font-size: 2em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    width: fit-content;
    padding: 0.2em;
    padding-right: 0.5em;
    padding-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    filter: blur(0.5px);
}
#hyejin h3{
    color: #5a4fac;
    background: linear-gradient(to right, #a5c6ff, #0000);
    font-size: 1em;
    padding-left: 2em;
    filter:blur(0.5px);
}
#hyejin p{
    color: #1a2373;
    font-size: 0.6em;
    padding-left: 2em;
    padding-top: 0;
}

/* table */
#hyejin table{
    width: fit-content;
    display: block;
    margin: auto;
}
#hyejin table img{
    height: 30vw;
    max-height: 10em;
    border-radius: 10px;
    margin: 0.5em;
    margin-bottom: 0;
    filter: drop-shadow(0 0 0.5rem #a5c6ff);
}

/* sections */
#hyejin-start{
    background: linear-gradient(#1a2373 30%,#073d94 60%, #0000 100%);
}
#hyejin-start a{
    font-family: ALS Script, cursive;
    background-color: rgba(255, 255, 255, 0.3);
    color: #1b1464;
    font-size: 1.2em;
    border-radius: 3em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    filter: blur(1px);
    
    display: block;
    margin: auto;
    margin-top: 0.75em;
    margin-bottom: 2em;
    padding: 0.5em;

    transition-property: background-color, color, filter;
    transition-duration: 0.2s;
}
#hyejin-start a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: #fb439f;
    filter: blur(0px);
}
#hyejin .liner-notes img{
    width: 80%;
    max-width: 18em;
    height: auto;
    border-radius: 10px;
}

/* scroll */
#hyejin::-webkit-scrollbar-thumb{
    background: #fb439f;
}


/* ------------------- POMPOM ------------------- */
#pompom{
    background-color: rgb(43, 28, 76);
    font-family: Gill Sans, sans-serif;
    font-weight: 300;
}
#pompom iframe, #pompom img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}
#pompom .tag{
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    width: fit-content;
    display: inline-block;
}
#pompom p{
    color: #ffd1fe;
    font-size: 0.6em;
    line-height: 2.5ch;
}
#pompom h2{
    color: #ffd1d7;
    text-shadow: #ff2020 0 0 12px;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 0;
}
#pompom h3{
    color: #d1efff;
    text-shadow: #1980ff 0 0 10px;
    font-size: .8em;
    font-weight: 300;
    margin-top: 0;
}
/* start */
#pom-start{
    background: linear-gradient(black 75%, #0000 100%);
}
#pom-start a{
    height: 50vh;
    max-height: 300px;
    opacity: 50%;
    display: flex;
    justify-self: center;
    margin-bottom: 2em;
    background-image: url("./select/wip/storytelling_final/png/intro/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#pompom a:hover{
    opacity: 100%;
}
/* grid */
#pompom .hero{
    padding-left: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.5em;

    grid-template-areas:
        "title title"
        "p vid";
}
#pompom .hero h2 {grid-area: title;}
#pompom .hero p {grid-area: p;}
#pompom .hero iframe {grid-area: vid;}

#pompom .img-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0em;
    margin: 1em;
    margin-right: 0;
    margin-bottom: 0;

    grid-template-areas:
        "h3 pic";
}
#pompom .production h3 {grid-area: h3;}
#pompom .production iframe, #pompom .production img{grid-area: pic;}

/* scroll */
#pompom::-webkit-scrollbar-thumb{
    background: #ffd60a;
}


/* ------------------- MAP ------------------- */
#map{
    background-color: #fdfbe6;
    font-family: 'Andale Mono', monospace;
}
#map .tag{
    color: #caecfc;
    width: fit-content;
    display: inline-block;
}
#map h2{
    color: #4aaad7;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    border: 3px solid #4aaad7;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.3em;
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 0.5em;
   margin-top: 3em;
}
#map p, #map li{
    font-size: 0.6em;
    margin-left: 1em;
}

/* start */
#map #map-start{
    background: linear-gradient(#caecfc 70%, #fdfbe6 100%);
    padding: 0;
}
#map-start img{
    width: 100%;
    display: block;
    margin: auto;
    transform: translateY(-1.2em);
}
#map .img-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0em;
    margin-bottom: 0;
    margin-top: 1em;

    grid-template-areas:
        "h3 img"
        "p img";
}
#map h3 {
    grid-area: h3;
    background-color: #4aaad7;
    color: #fdfbe6;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-left: 0.5em;
    padding: 0.5em;
    
}
#map .img-1 p {
    grid-area: p;
    margin-left: 1em;
    top: 0;
}
#map .img-1 img {
    grid-area: img; 
    border-radius: 15px;
    width: 90%;
    display: block;
    margin: auto;
}

/* scroll */
#map::-webkit-scrollbar-thumb{
    background: #ff7f2a;
}