@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fff4f6;
    font-family: Poppins, 'Gill Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
button{
    font-family: Poppins, 'Gill Sans', sans-serif;
    font-size: 1em;
    background-color: #ffa0b0;
    border: 5px solid #ffa0b0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1em;
    margin-top: 15vh;
}


/* --- DROPDOWN ---*/
#dropbtn{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-decoration: dotted 2px underline;
    height: fit-content;
    width: 40vw;
    margin: 0;
    cursor: pointer; 
}
#dropbtn:hover, #dropdown-content a:hover, #dropdown-content a:focus{
    font-style: italic;
}
.dropdown {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 20vh;
}
#dropdown-content {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
    margin-bottom: 0em;
    margin-top: 1vh;
    display: none;
    width: 55vw;
    z-index: 1;
}
#dropdown-content a{
    color: black;
    text-decoration: underline dotted;
}


/* --- TABS ---*/
/* container */
#tab{
    background-color: #ffa0b0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* tab (select/archive) */
#tab>div{
    margin-top: 2%;
    height: 75vh;
    width: 100vw;
    
    overflow: hidden;
    scroll-behavior: smooth;
}


/* --- SLIDES --- */
.content::-webkit-scrollbar{
    height: 1em;
    background: #ffffff88;
}
.content::-webkit-scrollbar-thumb{
    width: 1em;
    height: 1em;
    background: #ec697f;
}
.tag{
    font-family: Poppins, 'Gill Sans', sans-serif;
    background-color: rgba(0,0,0,0.5);
    font-weight: 400;
    font-size: 0.5em;
    border-radius: 1em;
    height: fit-content;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    padding: 0.5em;
}
#buffer{
    width: 10%;
    background: none;
}
#buffer::-webkit-scrollbar{
    background:none;
}

/* slide */
.content{
    height: 100%;
    width: 100%;
    gap: 1em;
    display: flex;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
}

/* content */
.content div{
    border-radius: 10px;
    font-size: 2em;
    width: 80vw;
    max-width: 25em;
    margin-bottom: 2vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    
    scroll-snap-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.content div::-webkit-scrollbar{
    width: 0.5em;
    border-radius: 10px;;
}
.content div::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

/* each project/section */
.content section{
    margin-bottom: 0.5em;
}







